<!DOCTYPE html>
<html>
<head>
  <title>MovieMap3D</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/plotlyjs-bundle.js"></script>
</head>
<body>
  <script type="text/javascript" src="../static/default_figure.js"></script>   

  <div style="height: 10%; position: absolute; z-index: 30;background: white">
    <!-- <form autocomplete="off" action="/search" method="POST"> -->
    <!-- <form autocomplete="off"> -->
      <div class="autocomplete" style="width:300px;">
        <input id="myInput" type="text" name="myMovie" placeholder="Enter Movie name..">
      </div>
      <button id="sendButton">Submit</button>
    <!-- </form> -->
    <h4>You have searched for: {{ movie_title }}</h4>
    <button onclick="stoprotation()">Stop Rotation</button>
  </div>
  
  <div style="display: block;position: absolute;width: 98%; height: 115%; top: -15%; overflow: hidden;">
    <div id="myDiv" style="width: 100%; height: 100%;" ></div>
  </div>

<script type="text/javascript">
  var x1 = 0;
  var y1 = 0;
  var z1 = 0;
  var text1 = 0;

  var x2 = 0;
  var y2 = 0;
  var z2 = 0;
  var text2 = 0;
  redraw(0,0,0,0,0,0,0,0)
  $('#sendButton').click(function(){
    var val = $('#myInput').val();
    console.log(val)
    var req = $.ajax({
          url: '/search',
          type: 'POST',
          data: {myMovie:val}
    });
    req.done(function(data){
      redraw(data.x1,data.y1,data.z1,data.text1,data.x2,data.y2,data.z2,data.text2)
    });
  });
  // var x1 = {{x1}};
  // var y1 = {{y1}};
  // var z1 = {{z1}};
  // var text1 = {{text1|safe}};

  // var x2 = {{x2}};
  // var y2 = {{y2}};
  // var z2 = {{z2}};
  // var text2 = {{text2|safe}};
  function redraw(x1,y1,z1,text1,x2,y2,z2,text2){
    var trace1 = {
      x: x1,
      y: y1, 
      z: z1,
      mode: "markers+text",
      text: text1,
      textposition: "top center",
      textfont: {
        size: 14,
        color: "black",
        borderpad: 4,
        bgcolor: "white"
      },
      marker: {
        color: "pruple",
        size: 8,
        symbol: "circle",
        line: {
          color: "pruple",
          width: 0
        },
        opacity: 0.6
      },
      type: 'scatter3d',
      hoverinfo: 'text',
      hoverlabel: {
        bgcolor: 'red',
        bordercolor: 'yellow',
        font: {
          size: 20,
          color: 'white'
        }
      }
    };

    var trace2 = {
      x: x2,
      y: y2,
      z: z2,
      mode: 'markers',
      text: text2,
      marker: {
        color: 'blue',
        size: 6,
        symbol: 'circle',
        line: {
          color: 'blue',
          width: 0.0
        },
        opacity: 0.1
      },
      type: 'scatter3d',
      hoverinfo: 'text',
      hoverlabel: {
        bgcolor: 'red',
        bordercolor: 'yellow',
        font: {
          size: 20,
          color: 'white'
        }
      }
    };

    var line1 = {
      type: 'scatter3d',
      mode: 'lines',
      x: [0,0],
      y: [0,0],
      z: [-10,10],
      hoverinfo: 'text',
      opacity: 0.9,
      line: {
        width: 1.2,
        color: 'red',
        colorscale: 'Viridis'
      }
    };

    var line2 = {
      type: 'scatter3d',
      mode: 'lines',
      x: [0,0],
      y: [-10,10],
      z: [0,0],
      hoverinfo: 'text',
      opacity: 0.9,
      line: {
        width: 1.2,
        color: 'yellow',
        colorscale: 'Viridis'
      }
    };

    var line3 = {
      type: 'scatter3d',
      mode: 'lines',
      x: [-10,10],
      y: [0,0],
      z: [0,0],
      hoverinfo: 'text',
      opacity: 0.9,
      line: {
        width: 1.2,
        color: 'blue',
        colorscale: 'Viridis'
      }
    };

    var data = [trace1, trace2, line1, line2, line3];
    var layout = {
      height: 1200,
      scene: {
        xaxis: {
          autorange: true,
          showgrid: false,
          zeroline: false,
          showline: false,
          autotick: true,
          ticks: '',
          title: '',
          showticklabels: false,
          spikethickness: 0,
        },
        yaxis: {
          autorange: true,
          showgrid: false,
          zeroline: false,
          showline: false,
          autotick: true,
          ticks: '',
          title: '',
          showticklabels: false,
          spikethickness: 0
        },
        zaxis: {
          autorange: true,
          showgrid: false,
          zeroline: false,
          showline: false,
          autotick: true,
          ticks: '',
          title: '',
          showticklabels: false,
          spikethickness: 0
        }
      },
      camera: {
        up: {x:0, y:0, z:1},
        center: {x:0, y:0, z:0},
        eye: {x:0.5, y:0.5, z:0.5}
      },
      margin: {
        l: 0,
        r: 0,
        b: 0,
        t: 0
    }
  };

    Plotly.newPlot('myDiv', data, layout);
    var gd = document.getElementById('myDiv');

    var cnt = 0;
    function stoprotation() {
      cnt=-1;
      var scene1 = gd._fullLayout['scene']._scene;
      var camera1 = scene1.getCamera();
      console.log(camera1.eye);
      console.log(camera1.zoom);
    };
    var interval = setInterval(function() {
      rotate('scene', Math.PI / 564);

      if(cnt == -1) clearInterval(interval);
    }, 100);

    function rotate(id, angle) {
      var scene = gd._fullLayout[id]._scene;
      var camera = scene.getCamera();

      var rtz = xyz2rtz(camera.eye);
      rtz.t += angle;
      camera.eye = rtz2xyz(rtz);
      scene.setCamera(camera);
    };

    function xyz2rtz(xyz) {
      return {
        r: Math.sqrt(xyz.x * xyz.x + xyz.y * xyz.y),
        t: Math.atan(xyz.y / xyz.x),
        z: xyz.z
      };
    };

    function rtz2xyz(rtz) {
      return {
        x: rtz.r * Math.cos(rtz.t),
        y: rtz.r * Math.sin(rtz.t),
        z: rtz.z
      };
    };
  };
</script>

<script type="text/javascript">
  function autocomplete(inp, arr) {
    var currentFocus;
    inp.addEventListener("input", function(e) {
    var a, b, i, val = this.value;
    closeAllLists();
    if (!val) { return false;}
    currentFocus = -1;
    a = document.createElement("DIV");
    a.setAttribute("id", this.id + "autocomplete-list");
    a.setAttribute("class", "autocomplete-items");
    this.parentNode.appendChild(a);
    for (i = 0; i < arr.length; i++) {
      if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
        b = document.createElement("DIV");
        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
        b.innerHTML += arr[i].substr(val.length);
        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
        b.addEventListener("click", function(e) {
          inp.value = this.getElementsByTagName("input")[0].value;
          closeAllLists();
        });
        a.appendChild(b);
      }
    }
  });
  inp.addEventListener("keydown", function(e) {
    var x = document.getElementById(this.id + "autocomplete-list");
    if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } 
      else if (e.keyCode == 38) { //up
        currentFocus--;
        addActive(x);
      } 
      else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
    });
    function addActive(x) {
      if (!x) return false;
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      x[currentFocus].classList.add("autocomplete-active");
    };
    function removeActive(x) {
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    };
    function closeAllLists(elmnt) {
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    };
    document.addEventListener("click", function (e) {
      closeAllLists(e.target);
    });
  }

  var movie_titles = def_figure.data[0].text;
  autocomplete(document.getElementById("myInput"), movie_titles);
</script>
</body>
</html>
